@page "/coffees/request"
@using MicroCoffees.Mobile.Models;

@inject RequestCoffeeViewModel ViewModel

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <EditForm Model="this.ViewModel.Coffee" OnValidSubmit="this.ViewModel.SubmitAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="row mb-3">
                    <div class="col-sm-6 mb-sm-3">
                        <label class="form-label">Name</label>
                        <InputText @bind-Value="this.ViewModel.Coffee.Name" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Image Url</label>
                        <InputText @bind-Value="this.ViewModel.Coffee.ImageUrl" class="form-control" />
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Roast</label>
                    <InputSelect @bind-Value="this.ViewModel.Coffee.Roast" class="form-select">
                        <option class="@Roast.Light">Light</option>
                        <option class="@Roast.Medium">Medium</option>
                        <option class="@Roast.Dark">Dark</option>
                    </InputSelect>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label class="form-label">Quantity</label>
                        <input type="number" min="1" @bind-value="this.ViewModel.Coffee.Quantity" class="form-control" />
                    </div>
                    <div class="col-sm-6 mb-sm-3">
                        <label class="form-label">Cost</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" value="@this.ViewModel.Coffee.Cost" class="form-control" disabled />
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <a href="/coffees" class="btn btn-lg btn-danger w-100">
                            Back
                        </a>
                    </div>
                    <div class="col-6">
                        <input type="Submit" value="Request" class="btn btn-lg btn-primary w-100" />
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>