@page "/"

<div class="container-fluid bg-primary mb-3">
    <div class="row">
        <div class="col-12">
            <h1 class="display-1 text-white text-center py-5">
                _microCoffees
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-secondary rounded-5 text-white">
                <div class="card-body">
                    <h2 class="card-title">Generate your own coffee!</h2>
                    <p class="card-text">
                        At MicroCoffees, we excel at over-engineering our public facing APIs, we do the same with our coffee!
                        With over <code class="text-white fw-bold">INTEGER OVERFLOW</code> possible combinations, you'll have plenty of choices.
                    </p>
                    <a href="coffees" class="btn btn-primary">
                        Order
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
